<md-card [@stretch]="stretched">
  <md-card-header>
    <p>Enter your cell number for pix of cute baby animals!</p>
  </md-card-header>
  
  <md-card-content>
    <form action="" class="horizontal-aligner" >
      <md-input-container>
        <input
          mdInput
          #phoneNumber
          placeholder="+15551112222"
          type="text" />
      </md-input-container> 
        
      
      
      </form>
     
    </md-card-content>
   <md-card-footer class="horizontal-aligner">
        <button (click)="stretch(phoneNumber.value)" md-raised-button>Submit</button>
      </md-card-footer>
</md-card>

