.up-arrow {
  position: absolute;
  right: 30px;
  bottom: 30px;
}

.right-arrow {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.down-arrow {
  position: absolute;
  right: 30px;
  bottom: 5px;
}

.left-arrow {
  position: absolute;
  right: 55px;
  bottom: 5px;
}