div {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 4px;
}

.up-arrow {
  position: absolute;
  right: 25px;
  bottom: 25px;
  transform: rotate(90deg);
}

.right-arrow {
  position: absolute;
  right: 0px;
  bottom: 0px;
  transform: rotate(180deg);
}

.down-arrow {
  position: absolute;
  right: 25px;
  bottom: 0px;
  transform: rotate(-90deg);
}

.left-arrow {
  position: absolute;
  right: 50px;
  bottom: 0px;
}

.active {
  background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5));
}