.aligner {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

/* entire container, keeps perspective */
.flip-container {
	position: relative;
}

.flip-container div {
	position: absolute;
	top: 50vh;
}