/* You can add global styles to this file, and also import other style files */
html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}
body{
    height:100%; /* force the BODY element to match the height of the HTML element */
    margin: 0px; 
}

.loading {
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
}

h1 {
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}